@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');


:root {
    --primary_color: #043b5c;
    --primary_color_lighter: #078fe4;
    --primary_color_darker: #05055c;
    --secondary_color: #ffffff;
    --tertiary_color: #392e4a;
    --butter: #d4e6fc;
    --red: #b71540;
    --brick_red: #22050d;
    --grey: #dcdde1;
    --white: #fff;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.html {
    font-family: 'Montserrat', sans-serif;
}

.goback {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary_color);
    font-size: 10px;
    padding: 10px;
    width: 200px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: var(--primary_color) !important;
    color: #fff
}

.btn-primary:hover {
    background: var(--primary_color_darker);
}

.top_header {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 10%;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.top_header .logo {
    height: 60px;
    width: 120px;
    background: url('./logo.svg');
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.anchor{
    display: none;
}
.top_header .nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 12px;
}

.top_header .nav_item {
    cursor: pointer;
}

.top_header .nav_item:hover {
    font-weight: 600;
}

.hero {
    height: 500px;
    width: 100%;
    
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 62%);
    
    
}
.admin-page{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 62%);
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    overflow: auto;
}
.login-form{
    background-color: var(--white);
    padding: 50px 30px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    font-family: montserrat;
    margin: 30px auto;
}
.login_shortnote{
    font-family: montserrat;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.login_shortnote:hover{
    color: var(--red);
}
.login-form .logo{
    width:100%;
    height: 80px;
    background: url('./logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.login-form input{
    width: 100%;
    margin: auto;
    background: var(--grey);
}
.login-form .form-group{
    margin-top:20px;
}
.login-form label{
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}
.login-form h2{
    font-weight: 600;
    margin: 0px 0 30px;
    font-size: 20px;
    text-align: center;
    color: var(--red)
}
.login-form .btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    margin: 30px auto;
    font-family: 'montserrat';
    cursor: pointer;
    border: none;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--brick_red) 0%, var(--red) 62%);
}

.login-form .btn:hover {
    background: #000c14;
    background: rgb(0,0,0);
    background: linear-gradient(90deg,  var(--red)60%, var(--brick_red) 92%);
}

.hero .layer{
    background-image: url('./wavy.svg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 100px;
}
.hero .left_container {
    height: 100%;
    width: 60%;
}

.hero .left_container .cta{
    margin: 30px 0 !important;
}

.hero .right_container {
    height: 100%;
    width: 40%;
    box-shadow: 0px 10px 15px -3px rgba(255,255,255,0.2);
}

.hero .hero_bg {
    background: #fff;
    border-radius: 10px;
}

.hero .hero_bg img {
    background: var(--primary_color_darker);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.hero p {
    font-size: 20px;
    text-align: left;
    color: var(--primary_color_lighter)
}

.section_main {
    width: 100%;
    background: #fff;
    padding: 100px 100px;
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 30px;
    color: var(--tertiary_color);
}

.section_subtitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.category_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category_list .category_item .icon {
    height: 70px;
    width: 70px;
    background: var(--tertiary_color);
    margin: 0 auto 20px;

}

.category_list .category_item {
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px #dcdde155;
    cursor: pointer;
}

.category_list .category_item .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--primary_color_darker);
}

.category_list .category_item .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--tertiary_color);
}

.category_list .category_item .icon {
    background: url('../assets/menu.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.job_list {}


.job_list .job_item {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px #dcdde155;
    margin: 15px 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.more{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px #dcdde155;
    margin: 15px 0;
    cursor: pointer; 
}
.more .description, .more .details {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.job_list .job_item.active {
    border: solid 2px var(--primary_color_darker);
}


.job_list .job_item .inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.job_list .job_item .top .inner .company{
    font-weight: 600;
    color: var(--primary_color)   
}
.job_list .job_item .top {
    display: flex;
    justify-content: space-evenly;
}

.job_list .job_item .bottom {
    display: flex;
    justify-content: space-between;
    background: #d4e6fc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.job_list .job_item .icon {
    height: 100px;
    width: 100px;
    background: url('../assets/menu.png');
    background-size: cover;
    opacity: 0.2;
}

.job_list .job_item .title {
    text-align: left;
}

.job_item .subtitle,
.job_item .company {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}


.job_list .job_item .title_ {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--primary_color_darker);
}

.trainings_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.trainings_list .trainings_item {
    width: 300px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding-bottom: 70px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px #dcdde155;
}

.trainings_item.active {
    border: solid 2px var(--primary_color_darker);
}

.trainings_list .trainings_item:hover {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.trainings_list .trainings_item .inner {
    padding: 10px 20px 0;
}

.trainings_list .trainings_item .image {
    height: 200px;
    background: url('./close-up-briefcase.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.trainings_list .trainings_item .title {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary_color_darker);
}

.trainings_list .trainings_item .description {
    font-size: 12px;
    color: var(--primary-color);
}

.trainings_list .trainings_item .details {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.trainings_list .trainings_item .duration {
    font-size: 12px;
    color: var(--primary-color);
}

.trainings_list .trainings_item .price {
    font-size: 15px;
    color: var(--primary_color_darker);
    font-weight: 800;
}

.form1 .formgroup {
    display: flex;
    flex-direction: column;
}

.form1 label {
    text-align: left;
    margin: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.form1 input {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid #d4e6fc 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.form1 textarea {
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    border: solid #d4e6fc 1px;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.form1 button {
    height: 50px;
    width: 200px;
    margin: 30px 0;
    background: var(--primary-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px;
}


.section {
    background: #d4e6fc;
    padding: 40px 5%;
    font-family: 'montserrat';
}

.section .title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'montserrat';
    margin-bottom: 40px;
    text-align: center;
}
.section .title {
    color: var(--red);
}

.section .subtitle {
    font-size: 13px;
}

.section .row {
    margin-top: 50px;
}

.section .col {
    padding: 20px
}

.section .list_title {
    font-weight: 600;
    font-size: 15px;
    color: var(--red)
}

.section.dark {
    background: var(--tertiary_color);
    color: #fff;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,2,52,1) 62%);
}

.section.light {
    background: #fff;
    padding: 100px 5%;
}

.quote {
    font-size: 20px;
    text-align: center;
}

.cta {
    max-width: 300px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    margin: 30px auto;
    font-family: 'montserrat';
    cursor: pointer;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--brick_red) 0%, var(--red) 62%);
}

.cta:hover {
    background: #000c14;
    background: rgb(0,0,0);
    background: linear-gradient(90deg,  var(--red)60%, var(--brick_red) 92%);
}
.more{

}


.sidenav{
    width: 300px;
    height: 100vh;
    background: #043b5c;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #043b5c 0%, rgba(9,9,121,1) 52%);
    padding: 20px;
    font-family: 'montserrat';
}

.sidenav .nav{
    width: 100%;
    min-height: 200px;
    margin-top: 100px;
}
.sidenav .nav-item{
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #d4e6fc;
    margin-bottom: 5px;
    border-radius: 3px;
    border-bottom: solid #078fe4 2px;
    cursor: pointer;
}

.sidenav .nav-item:hover{
    background: var(--secondary_color);
}

.admin_main{
    background: #392e4a;
    display: flex;
}
.admin_content{
    height: 100vh;
    width: calc(100% - 300px);
    background: var(--secondary_color);
    font-family: 'montserrat';
    padding: 50px;
    overflow: auto;
}
.admin_content .top{
    text-align: left;
    padding: 20px 0;
}
.admin_content .top .title{
    font-size: 20px;
    font-weight: 600;
}
.admin_content .top .subtitle{
    font-size: 13px;
}
.main_content{

}

.title_h2{
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.login_footnote{
    padding: 20px 0;
    color: #fff;
    text-align: center; 
    font-size: 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.d-flex-y{
    display: flex;
    align-content: unset;
    justify-content: unset;
    overflow: auto;
    flex-direction: column;
    height: auto;
    padding: 100px 0;
}
.d-flex-y .login-form{
    margin: auto;
    max-width: 90%;
}
.cards{
    width: 100%;
    margin: 30px auto 50px;
}
.cards .card{
    border: none;
    background: unset;
}

.cards .inner{
    padding: 20px 50px;
    background: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--primary_color_darker) 0%, var(--primary_color) 62%);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border: solid 1px var(--brick_red);
    border-radius: 10px;
    display: flex;
}
.cards .inner .icon{
    width: 70px;
    height: 70px;
    background: #b71540;
    border-radius: 50%;
    margin-right: 30px;
}

.cards .inner .value{
    font-size: 30px;
    font-weight: 600;
    color: var(--red)
}
.cards .inner .text{
    font-size: 15px;
    font-weight: 400;
    color: var(--white)
}
@media screen and (max-width: 800px) {
    .hero{
        height: auto !important;
    }
    .top_header .logo{
        background-size: contain;
    }
    .hero .layer {
        display: block;
        align-content: center;
        padding: 100px 5%;
    }
    .hero .left_container{
        width:100%;
        height: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .hero .left_container .cta{
        margin: 30px auto !important;
    }
    .hero .right_container{
        width: 100%;
        height: 300px;
    }
    .hero h1{
        text-align: center;
        font-size: 25px;
    }
    .hero p{
        text-align: center;
        font-size: 15px;
    }
    .section_main{
        width: 100%;
        padding: 100px 5%;
    }

}

@media screen and (max-width: 600px) {
    
    .top_header{
        position: relative;
    }
    
    .top_header .anchor{
        display: block;
        width: 30px;
        height: 30px;
        background: url('./menu.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .top_header .nav{
        position: absolute;
        background: var(--white);
        display: none;
        top: 100%;
        width: 100%;
        left:0;

    }
    .top_header .nav .nav_item{
        padding: 10px;
        background: var(--butter);
        margin: 2px 0;
    }   
    .top_header .nav .nav_item:hover{
        background: var(--primary_color);
        color: var(--white);
    }
    
    .showOnSmall{
        display: block !important;
    }

    
    .job_list .job_item .top .inner {
        display: block;
        text-align: left;
        font-size: 12px;
        padding: 0;
    }
    .job_list .job_item .top .inner .company{
        font-weight: 600;
        
    }
}