@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');


:root {
    --primary_color: #043b5c;
    --primary_color_lighter: #078fe4;
    --primary_color_darker: #02111a;
    --secondary_color: #ffffff;
    --tertiary_color: #392e4a;
    --butter: #ecd9dd;
    --red: #e33d94;
    --grey: #dcdde1;
    --white: #fff;
}


.html {
    font-family: 'Montserrat', sans-serif;
}

.goback {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary_color);
    font-size: 10px;
    padding: 10px;
    width: 200px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: var(--primary_color) !important;
    color: #fff
}

.btn-primary:hover {
    background: var(--primary_color_darker);
}

.top_header {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 10%;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.top_header .logo {
    height: 80px;
    width: 120px;
    background: url('./logo.svg');
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top_header .nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.top_header .nav_item {
    cursor: pointer;
}

.top_header .nav_item:hover {
    font-weight: 600;
}

.hero {
    height: 400px;
    width: 100%;
    background: #ecd9dd;
    display: flex;
    padding: 100px 100px;
}

.hero .left_container {
    height: 100%;
    width: 60%;
}

.hero .right_container {
    height: 100%;
    width: 40%;
}

.hero .hero_bg {
    background: #fff;
    border-radius: 10px;
}

.hero .hero_bg img {
    background: #e33d94;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.hero p {
    font-size: 20px;
    text-align: left;
    color: var(--primary_color_lighter)
}

.section_main {
    width: 100%;
    background: #fff;
    padding: 100px 100px;
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 30px;
    color: var(--tertiary_color);
}

.section_subtitle {
    font-family: 'Montserrat', sans-serif;

}

.category_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category_list .category_item .icon {
    height: 70px;
    width: 70px;
    background: var(--tertiary_color);
    margin: 0 auto 20px;

}

.category_list .category_item {
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px #dcdde155;
    cursor: pointer;
}

.category_list .category_item .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #e33d94;
}

.category_list .category_item .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--tertiary_color);
}

.category_list .category_item .icon {
    background: url('../assets/menu.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.job_list {}


.job_list .job_item {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: solid 1px #dcdde155;
    margin: 15px 0;
    cursor: pointer;

}

.job_list .job_item.active {
    border: solid 2px #e33d94;
}


.job_list .job_item .inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.job_list .job_item .top {
    display: flex;
    justify-content: space-evenly;
}

.job_list .job_item .bottom {
    display: flex;
    justify-content: space-between;
    background: #ecd9dd;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.job_list .job_item .icon {
    height: 100px;
    width: 100px;
    background: url('../assets/menu.png');
    background-size: cover;
    opacity: 0.2;
}

.job_list .job_item .title {
    text-align: left;
}

.job_item .subtitle,
.job_item .company {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}


.job_list .job_item .title_ {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #e33d94;
}

.trainings_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.trainings_list .trainings_item {
    width: 300px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding-bottom: 70px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px #dcdde155;
}

.trainings_item.active {
    border: solid 2px #e33d94;
}

.trainings_list .trainings_item:hover {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.trainings_list .trainings_item .inner {
    padding: 10px 20px 0;
}

.trainings_list .trainings_item .image {
    height: 200px;
    background: url('./close-up-briefcase.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.trainings_list .trainings_item .title {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #e33d94;
}

.trainings_list .trainings_item .description {
    font-size: 12px;
    color: var(--primary-color);
}

.trainings_list .trainings_item .details {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.trainings_list .trainings_item .duration {
    font-size: 12px;
    color: var(--primary-color);
}

.trainings_list .trainings_item .price {
    font-size: 15px;
    color: #e33d94;
    font-weight: 800;
}

.form1 .formgroup {
    display: flex;
    flex-direction: column;
}

.form1 label {
    text-align: left;
    margin: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.form1 input {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid #ecd9dd 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.form1 textarea {
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    border: solid #ecd9dd 1px;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.form1 button {
    height: 50px;
    width: 200px;
    margin: 30px 0;
    background: var(--primary-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px;
}


.section {
    background: #ecd9dd;
    padding: 40px 5%;
    font-family: 'montserrat';
}

.section .title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'montserrat';
    margin-bottom: 40px;
}

.section .subtitle {
    font-size: 13px;
}

.section .row {
    margin-top: 50px;
}

.section .col {
    padding: 20px
}

.section .list_title {
    font-weight: 600;
    font-size: 15px;
}

.section.dark {
    background: var(--tertiary_color);
    color: #fff;
}

.section.light {
    background: #fff;
    padding: 100px 5%;
}

.quote {
    font-size: 22px;
}

.cta {
    background: var(--primary_color);
    max-width: 300px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    margin: 30px auto;
    font-family: 'montserrat';
    cursor: pointer;
}

.cta:hover {
    background: #000c14;
}